.Headers{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.HeadersGroup {
    float: right;
}
.HeadersGroup a {
    margin-right: 5px;
    background-color: lightblue;
    text-decoration: none;
}
a {
    padding: 14px 16px; 
    border: 1px;
    border-radius: 12px;    
    margin-top: 10px;
}
a:hover {
    background-color: antiquewhite;
}
